.about-use-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://image.freepik.com/free-photo/group-deaf-people-communicating-through-sign-language_23-2148719675.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    
}


.about-us {
    background: url("https://image.freepik.com/free-photo/group-deaf-people-communicating-through-sign-language_23-2148719675.jpg");
    // height: 100%;
    margin: 30rem 10rem;
    // background: cornflowerblue;
}

.about-text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 9%;
    right: 9%;
    color: white;
}