.banner {
    background-image: linear-gradient(to right, white, #cfe5f3, #1a4966);
    // height: 15rem;
    // position: relative;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1rem;
}

// .banner-text {
//     // text-align: center;
//     // padding-top: 6%;
//     // padding: 50px;
// }