@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Questrial&family=Source+Sans+Pro:wght@200&display=swap');

.jumbotron {
    background: #23526e;
    // SECOND COLOR CHOICE
    // background: #AEC0C2;
    font-family: 'Libre Baskerville', serif;
}

.text-color {
    font-family: 'Source Sans Pro', sans-serif;
}

.page-animation{
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.search-bar{
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: #F2F1DC;
    color: #594302;
    border-color: #a5adb56e;
}


.search-bar:hover{
    background: #cfcea1;
    color: #493908;
    border-color: #a5adb56e;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.discussion-article {
    margin-left: 1.5rem;
}