// .jumbotron {
        // background: url("https://images.pexels.com/photos/6321244/pexels-photo-6321244.jpeg?cs=srgb&dl=pexels-cottonbro-6321244.jpg&fm=jpg")no-repeat center center; 
// }

// THIS IS ANIMATION FOR THE JUMBOTRON
.page-animation{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.search-bar{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: #F2F1DC;
    color: #594302;
    border-color: #a5adb56e;
}


.search-bar:hover{
    background: #cfcea1;
    color: #493908;
    border-color: #a5adb56e;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.discussion-article {
    margin-left: 1.5rem;
}