
.footer-style {
    background: #081B26;
    position: relative;
    /* negative value of footer height */
    // clear: both;
    padding:12px 0;
    margin-top: 50px;
   /*Custom styling*/
}

.footer-text {
    background: #081B26;
    color: white;
}