
.footer-style {
    background: #081B26;
    position: relative;
    /* negative value of footer height */
    // margin-top: 5rem;
    // clear: both;
    height: 0;
    padding:12px 0;
   /*Custom styling*/
}

.footer-text {
    background: #081B26;
    color: white;
}