/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Questrial&family=Source+Sans+Pro:wght@200&display=swap');
// body {
//   background-color: #23526e;
// }
.login {
    margin: 200px;
    
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 30px;
  }
  
.login-text {
  font-family: 'Libre Baskerville', serif;
  color: #081B26;
  }

.login-subtext {
  font-family: 'Source Sans Pro', sans-serif;
}

.button-color {
  background: #23526e;
  border: none;
}