
/* CLASS STYLES */

.message-container{
    position: relative;
    margin-bottom: 9.7rem;
}

.box {
    border: 1px solid #333333;
    height: 25rem;
    width: 75%;
    overflow-y: auto;
}

.messagebar {
    width: 50%;
}